<%= simple_form_for(@atendimento_detalhe) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.hidden_field :atendimento_id %>
    <div class="row">
      <div class="col">
        <%= f.input :tipo, collection: AtendimentoDetalhe.tipos, label_method: :first, value_method: :first %>
      </div>
      <div class="col">
        <%= f.association :atendente, label_method: :primeiro_nome, readonly: true %>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <%= f.input :descricao %>
      </div>
    </div>
  </div>

  <div class="form-actions">
    <%= button_tag(:class => "btn btn-primary") do %>
      <i class="fas fa-save" aria-hidden="true"></i> Salvar
    <% end %>
  </div>
<% end %>
