<div class="card">
  <%= render 'shared/show_header', {object: @equipamento, titulo: "Equipamento #{@equipamento.fabricante} #{@equipamento.modelo}"} %>
  <div class="card-body">
    <div class="card-columns" style="column-count: 4">
      <%= render 'shared/field_card', {campo: "Fabricante", valor: @equipamento.fabricante} %>
      <%= render 'shared/field_card', {campo: "Modelo", valor: @equipamento.modelo} %>
      <%= render 'shared/field_card', {campo: "Tipo", valor: @equipamento.tipo} %>
    </div>
    <div class="card-columns" style="column-count: 2">
      <%= render 'shared/field_card', {campo: "Imagem", valor: @equipamento.imagem.attached? ? image_tag(@equipamento.imagem) : ''} %>
    </div>
  </div>
</div>
