<p id="notice"><%= notice %></p>

<p>
  <strong>Conexao:</strong>
  <%= @conexao_verificar_atributo.conexao %>
</p>

<p>
  <strong>Atributo:</strong>
  <%= @conexao_verificar_atributo.atributo %>
</p>

<p>
  <strong>Op:</strong>
  <%= @conexao_verificar_atributo.op %>
</p>

<p>
  <strong>Valor:</strong>
  <%= @conexao_verificar_atributo.valor %>
</p>

<%= link_to 'Edit', edit_conexao_verificar_atributo_path(@conexao_verificar_atributo) %> |
<%= link_to 'Back', conexao_verificar_atributos_path %>
