<%= form_for(Setting.new, url: settings_path) do |f| %>
  <div class="form-group">
    <label class="control-label">Razão Social</label>
    <%= f.text_field :razao_social, value: Setting.razao_social, class: "form-control"  %>
  </div>
  <div class="form-group">
    <label class="control-label">CNPJ</label>
    <%= f.text_field :cnpj, value: Setting.cnpj, class: "form-control"  %>
  </div>
  <div class="form-group">
    <label class="control-label">Multa por atraso</label>
    <%= f.number_field :juros, value: Setting.multa, class: "form-control", step: :any %>
  </div>
  <div class="form-group">
    <label class="control-label">Juros de mora (mês)</label>
    <%= f.number_field :juros, value: Setting.juros, class: "form-control", step: :any  %>
  </div>

  <div class="actions">
    <%= button_tag( :class => "btn btn-primary") do %>
      <i class="fas fa-save" aria-hidden="true"></i> Salvar
    <% end %>
  </div>

<% end %>
