<div class="card">
      <div class="card-body">
        <div class="card-columns" style="column-count: 4">
          <%= link_to @fatura.contrato.pessoa do %>
            <%= render 'shared/field_card', {campo: "Assinante", valor: @fatura.contrato.pessoa.nome} %>
          <% end %>
          <%= link_to @fatura.contrato do %>
            <%= render 'shared/field_card', {campo: "Contrato", valor: @fatura.contrato.id} %>
          <% end %>
          <%= render 'shared/field_card', {campo: "Perfil de Cobrança", valor: @fatura.pagamento_perfil.nome} %>
          <%= render 'shared/field_card', {campo: "Parcela", valor: @fatura.parcela} %>
          <%= render 'shared/field_card', {campo: "Nosso Número", valor: @fatura.nossonumero} %>
          <%= render 'shared/field_card', {campo: "Período",
            valor: l(@fatura.periodo_inicio, default: "") +" - "+ l(@fatura.periodo_fim, default: "")} %>
          <%= render 'shared/field_card', {campo: "Vencimento Original", valor: l(@fatura.vencimento_original, default: "")} %>
          <%= render 'shared/field_card', {campo: "Valor Original", valor: number_to_currency(@fatura.valor_original)} %>
        </div>
      </div>
<div class="card-columns" style="column-count: 1">

<%= simple_form_for(@fatura) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <div class="row">
      <div class="col-4">
        <%= f.input :valor %>
      </div>
      <div class="col">
        <%= f.input :vencimento %>
      </div>
    </div>
  </div>

  <div class="actions">
    <%= button_tag( :class => "btn btn-primary") do %>
      <i class="fas fa-save" aria-hidden="true"></i> Salvar
    <% end %>
  </div>
<% end %>
</div>
    </div>
  </div>
