<div class="card">
  <% params = defined?(params) ? params : {} %>
  <%= render '/shared/table_header', {object: @contratos, search_string: :pessoa_nome_cont, params: params} %>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <% if !defined?(exclude) or exclude != 'pessoa' %>
              <th>Nome</th>
            <% end %>
            <th>Plano</th>
            <th>Adesão</th>
            <th>Cancelamento</th>
          </tr>
        </thead>
        <tbody>
          <% @contratos.each do |contrato| %>
            <tr>
              <% if !defined?(exclude) or exclude != 'pessoa' %>
                <td><%= link_to contrato.pessoa.nome, contrato.pessoa %></td>
              <% end %>
              <td><%= link_to contrato.plano.nome, contrato.plano %></td>
              <td><%= link_to contrato.adesao, contrato %></td>
              <td><%= contrato.cancelamento %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <%= paginate @contratos, params: @params %>
  </div>
</div>
